.palm-card.css-9v99vz-MuiPaper-root-MuiCard-root {
  background-color: var(--palm-surface-dark);
  border: 1px solid var(--palm-bg-darkest);
  border-radius: 12px;
  color: white;
}

.palm-card-divider, .overview-palm-table {
  margin-left: -16px !important;
  margin-right: -16px !important;
}

.overview-palm-table {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.footer-divider {
  margin-top: 0 !important;
}
