  .palm-card-divider, .treasury-palm-table {
    margin-left: -16px !important;
    margin-right: -16px !important;
  }
  
  .treasury-palm-table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .footer-divider {
    margin-top: 0 !important;
  }