:root {
    --palm-primary: #1ad0b2;
    --palm-primary-light: rgba(26, 208, 178, 0.2);
    --palm-primary-dark: #16b69b;
    --palm-primary-darkest: #12917c;
    --palm-dark: #0e2934;
    --palm-darker: #011d26;
    --palm-darkest: #01171f;
    --palm-highlight: #003543;
    --palm-bg-dark: #111111;
    --palm-bg-darkest: #0a0a0a;
    --palm-surface-dark: #313131;
}
