:root {
    --palm-primary: #1AD0B2;
    --palm-primary-dark: #16B69B;
    --palm-primary-darkest: #12917C;
    --palm-dark: #0e2934;
    --palm-darker: #011d26;
    --palm-darkest: #01171f;
    --palm-highlight: #003543;
    --palm-bg-dark: #111111;
    --palm-bg-darkest: #0A0A0A;
    --palm-surface-dark: #313131;
}